<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>爬客网-查看反馈</title>
    {% load staticfiles %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/footer.css' %}" rel="stylesheet">
    <link href="{% static 'css/begin_task.css' %}" rel="stylesheet">
    <link rel="shortcut icon"  href="../media/image/pake.ico"/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">爬客网</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">首页</a></li>
                <li><a href="/assignment/">任务管理</a></li>
                <li><a href="/crawl/">商品速爬</a></li>
                <li><a href="/cloudmusic/">明星趣爬</a></li>
                <li class="active"><a href="/checkFeedback/">查看反馈</a></li>
                <li><a href="http://120.79.204.134:8080/show" target="_blank">数据监控</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><span class="glyphicon glyphicon-user"></span>&nbsp;{{ user.username }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/personal/">个人中心</a></li>
                        <li><a href="/logout/">退出登陆</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container">
    <h2 class="sub-header">用户反馈</h2><br>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>反馈内容</th>
                <th>反馈时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for i in list %}
            <tr>
                <td>{{i.content}}</td>
                <td>{{i.time}}</td>
                <td><button class="close" style="padding:4px 8px; float:none"
                            value="{{i.id}}" onclick="deleteFeedback(this.value)">&times;</button></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <p class="text-muted">联系我们：邮箱793740385@qq.com &nbsp;&nbsp;&nbsp;&nbsp;制作人：姜发建、秦俊涛、王博 &nbsp;&nbsp;&nbsp;&nbsp;服务器时间：<span id="time"></span>&nbsp;&nbsp;<a href="https://github.com/aaa793740385/pake/tree/master" target="_blank">&lt;代码开源&gt;</a></p>
    </div>
</footer>
</body>
<script type="text/javascript" src="{% static 'js/serveTime.js' %}"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script
        src="{% static 'js/bootstrap.min.js' %}"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script
        src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script
        src="https://cdn.bootcss.com/jquery.countdown/2.2.0/jquery.countdown.min.js"></script>
<script type="text/javascript">
    function deleteFeedback(val){
        $.ajax({
            type : "GET",
            dataType : "text",
            url : "/deleteFeedback/",
            data : {id: val},
            success : function() {
                alert("删除成功");
                window.location.reload()
            },
            error : function() {
                alert("异常");
            }
        });
    }
</script>
</html>